[submodule ".emacs.d/site-lisp/git-emacs"]
	path = .emacs.d/site-lisp/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/site-lisp/android-mode"]
	path = .emacs.d/site-lisp/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule ".emacs.d/site-lisp/smex"]
	path = .emacs.d/site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs.d/site-lisp/php-mode"]
	path = .emacs.d/site-lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/site-lisp/php-auto-yasnippets"]
	path = .emacs.d/site-lisp/php-auto-yasnippets
	url = https://github.com/ejmr/php-auto-yasnippets.git
[submodule ".emacs.d/site-lisp/mmm-mode"]
	path = .emacs.d/site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule ".emacs.d/site-lisp/zencoding"]
	path = .emacs.d/site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/site-lisp/simplezen"]
	path = .emacs.d/site-lisp/simplezen
	url = https://github.com/magnars/simplezen.el.git
[submodule ".emacs.d/site-lisp/tagedit"]
	path = .emacs.d/site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
[submodule ".emacs.d/site-lisp/s"]
	path = .emacs.d/site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/site-lisp/dash"]
	path = .emacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/site-lisp/tern"]
	path = .emacs.d/site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule ".emacs.d/site-lisp/js2-refactor"]
	path = .emacs.d/site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule ".emacs.d/site-lisp/multiple-cursors"]
	path = .emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/site-lisp/expand-region"]
	path = .emacs.d/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/site-lisp/flycheck"]
	path = .emacs.d/site-lisp/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule ".emacs.d/site-lisp/lua-mode"]
	path = .emacs.d/site-lisp/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule ".emacs.d/site-lisp/elfeed"]
	path = .emacs.d/site-lisp/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule ".emacs.d/site-lisp/discover"]
	path = .emacs.d/site-lisp/discover
	url = git@github.com:mickeynp/discover.el.git
[submodule ".emacs.d/site-lisp/fastnav"]
	path = .emacs.d/site-lisp/fastnav
	url = git@github.com:gleber/fastnav.el.git
[submodule ".emacs.d/site-lisp/json-mode"]
	path = .emacs.d/site-lisp/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule ".emacs.d/site-lisp/json-reformat"]
	path = .emacs.d/site-lisp/json-reformat
	url = https://github.com/gongo/json-reformat
[submodule ".emacs.d/site-lisp/json-snatcher"]
	path = .emacs.d/site-lisp/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
[submodule ".emacs.d/site-lisp/dash-at-point"]
	path = .emacs.d/site-lisp/dash-at-point
	url = https://github.com/stanaka/dash-at-point.git
[submodule ".emacs.d/site-lisp/actionscript-mode"]
	path = .emacs.d/site-lisp/actionscript-mode
	url = git@github.com:austinhaas/actionscript-mode.git
[submodule ".emacs.d/site-lisp/haskell-mode"]
	path = .emacs.d/site-lisp/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule ".emacs.d/site-lisp/git-timemachine"]
	path = .emacs.d/site-lisp/git-timemachine
	url = git@github.com:emacsmirror/git-timemachine.git
[submodule ".emacs.d/site-lisp/emacs-git-gutter"]
	path = .emacs.d/site-lisp/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter
[submodule ".emacs.d/site-lisp/dockerfile-mode"]
	path = .emacs.d/site-lisp/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule ".emacs.d/site-lisp/docker-tramp.el"]
	path = .emacs.d/site-lisp/docker-tramp.el
	url = https://github.com/emacs-pe/docker-tramp.el
[submodule ".emacs.d/site-lisp/go-mode.el"]
	path = .emacs.d/site-lisp/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule ".emacs.d/site-lisp/groovy-emacs-modes"]
	path = .emacs.d/site-lisp/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes
[submodule ".emacs.d/site-lisp/cmake-font-lock"]
	path = .emacs.d/site-lisp/cmake-font-lock
	url = git@github.com:Lindydancer/cmake-font-lock.git
[submodule ".emacs.d/emacs-lisp/emacs-solidity"]
	path = .emacs.d/site-lisp/emacs-solidity
	url = git@github.com:ethereum/emacs-solidity.git
[submodule ".emacs.d/site-lisp/company-sourcekit"]
	path = .emacs.d/site-lisp/company-sourcekit
	url = git@github.com:nathankot/company-sourcekit.git
[submodule ".emacs.d/site-lisp/emacs-request"]
	path = .emacs.d/site-lisp/emacs-request
	url = git@github.com:tkf/emacs-request.git
[submodule ".emacs.d/site-lisp/imenu-anywhere"]
	path = .emacs.d/site-lisp/imenu-anywhere
	url = git@github.com:vspinu/imenu-anywhere.git
[submodule ".emacs.d/site-lisp/meghanada-emacs"]
	path = .emacs.d/site-lisp/meghanada-emacs
	url = git@github.com:mopemope/meghanada-emacs.git
[submodule ".emacs.d/site-lisp/kotlin-mode"]
	path = .emacs.d/site-lisp/kotlin-mode
	url = git@github.com:Emacs-Kotlin-Mode-Maintainers/kotlin-mode.git
[submodule ".emacs.d/site-lisp/sql-indent"]
	path = .emacs.d/site-lisp/sql-indent
	url = git@github.com:bsvingen/sql-indent.git
[submodule ".emacs.d/site-lisp/hive-el"]
	path = .emacs.d/site-lisp/hive-el
	url = git@github.com:r0man/hive-el.git
[submodule ".emacs.d/site-lisp/js2-mode"]
	path = .emacs.d/site-lisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
