[submodule ".emacs.d/site-lisp/git-emacs"]
	path = .emacs.d/site-lisp/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/site-lisp/android-mode"]
	path = .emacs.d/site-lisp/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule ".emacs.d/site-lisp/smex"]
	path = .emacs.d/site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs.d/site-lisp/php-mode"]
	path = .emacs.d/site-lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/site-lisp/php-auto-yasnippets"]
	path = .emacs.d/site-lisp/php-auto-yasnippets
	url = https://github.com/ejmr/php-auto-yasnippets.git
[submodule ".emacs.d/site-lisp/company-mode"]
	path = .emacs.d/site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule ".emacs.d/site-lisp/mmm-mode"]
	path = .emacs.d/site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule ".emacs.d/site-lisp/zencoding"]
	path = .emacs.d/site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/site-lisp/simplezen"]
	path = .emacs.d/site-lisp/simplezen
	url = https://github.com/magnars/simplezen.el.git
[submodule ".emacs.d/site-lisp/tagedit"]
	path = .emacs.d/site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
[submodule ".emacs.d/site-lisp/s"]
	path = .emacs.d/site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/site-lisp/dash"]
	path = .emacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/site-lisp/tern"]
	path = .emacs.d/site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule ".emacs.d/site-lisp/js2-refactor"]
	path = .emacs.d/site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule ".emacs.d/site-lisp/multiple-cursors"]
	path = .emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/site-lisp/expand-region"]
	path = .emacs.d/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/site-lisp/flycheck"]
	path = .emacs.d/site-lisp/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule ".emacs.d/site-lisp/lua-mode"]
	path = .emacs.d/site-lisp/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule ".emacs.d/site-lisp/elfeed"]
	path = .emacs.d/site-lisp/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule ".emacs.d/site-lisp/yafolding"]
	path = .emacs.d/site-lisp/yafolding
	url = git@github.com:zenozeng/yafolding.el.git
[submodule ".emacs.d/site-lisp/discover"]
	path = .emacs.d/site-lisp/discover
	url = git@github.com:mickeynp/discover.el.git
[submodule ".emacs.d/site-lisp/fastnav"]
	path = .emacs.d/site-lisp/fastnav
	url = git@github.com:gleber/fastnav.el.git
[submodule ".emacs.d/site-lisp/logcat-mode"]
	path = .emacs.d/site-lisp/logcat-mode
	url = https://github.com/dcolascione/logcat-mode.git
[submodule ".emacs.d/site-lisp/json-mode"]
	path = .emacs.d/site-lisp/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule ".emacs.d/site-lisp/json-reformat"]
	path = .emacs.d/site-lisp/json-reformat
	url = https://github.com/gongo/json-reformat
[submodule ".emacs.d/site-lisp/json-snatcher"]
	path = .emacs.d/site-lisp/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
