[submodule ".emacs.d/site-lisp/git-emacs"]
	path = .emacs.d/site-lisp/git-emacs
	url = http://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/site-lisp/android-mode"]
	path = .emacs.d/site-lisp/android-mode
	url = http://github.com/remvee/android-mode.git
[submodule ".emacs.d/site-lisp/smex"]
	path = .emacs.d/site-lisp/smex
	url = http://github.com/nonsequitur/smex.git
[submodule ".emacs.d/site-lisp/php-mode"]
	path = .emacs.d/site-lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "/Users/wangjian/.emacs.d/site-lisp/yasnippet"]
	path = /Users/wangjian/.emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "/Users/wangjian/.emacs.d/site-lisp/php-auto-yasnippets"]
	path = /Users/wangjian/.emacs.d/site-lisp/php-auto-yasnippets
	url = https://github.com/ejmr/php-auto-yasnippets.git
[submodule "/Users/wangjian/.emacs.d/site-lisp/company-mode"]
	path = /Users/wangjian/.emacs.d/site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "/Users/wangjian/.emacs.d/site-lisp/mmm-mode"]
	path = /Users/wangjian/.emacs.d/site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule ".emacs.d/site-lisp/zencoding"]
	path = .emacs.d/site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/site-lisp/simplezen"]
	path = .emacs.d/site-lisp/simplezen
	url = https://github.com/magnars/simplezen.el.git
[submodule ".emacs.d/site-lisp/tagedit"]
	path = .emacs.d/site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
[submodule ".emacs.d/site-lisp/s"]
	path = .emacs.d/site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/site-lisp/dash"]
	path = .emacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/site-lisp/tern"]
	path = .emacs.d/site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule ".emacs.d/site-lisp/js2-refactor"]
	path = .emacs.d/site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "/Users/wangjian/.emacs.d/site-lisp/multiple-cursors"]
	path = /Users/wangjian/.emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/site-lisp/expand-region"]
	path = .emacs.d/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
